---
layout: default
title: Technology Enthusiast | Vinod Pandey
---

<div id="home">

  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts reverse %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  {% assign sections = "documentation, tutorials" | split: ", " %}
  {% for section in sections %}
    <h1>{{ section | capitalize }}</h1>
    {% for item in site.pages reverse %}
        {% if item.url contains section/ %}
          <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
        {% endif %}
    {% endfor %}
  {% endfor %}


</div>