---
layout: default
title: Technology Enthusiast | Vinod Pandey
---

<div id="home">

  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts reverse %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>


  {% assign sections = "documentation" | split: ", " %}
  {% for section in sections %}
    <h1>{{ section | capitalize }}</h1>
    <ul class="posts">
      {% for item in site.pages %}
        {% if item.url contains section/ and item.path contains "index.md" %}
            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}

</div>