---
layout: default
title: Technology Enthusiast | Vinod Pandey
---

<div id="home">

  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts reverse %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  {% assign sections = "language-and-frameworks" | split: ", " %}
  {% for section in sections %}
    {% assign section_path = section | append: '/index.md' %}
    <h1>{{ section | capitalize }}</h1>
    <ul class="posts">
      {% for item in site.pages %}
        {% if item.url contains section/ and item.path contains "index.md" %}
            {% unless item.path == section_path %}
              <li><a href="{{ item.url }}">{{ item.title }}</a><br/>{{ item.description }}</li>
            {% endunless %}
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}

  {% assign sections = "documentation" | split: ", " %}
  {% for section in sections %}
    {% assign section_path = section | append: '/index.md' %}
    <h1>{{ section | capitalize }}</h1>
    <ul class="posts">
      {% for item in site.pages %}
        {% if item.url contains section/ and item.path contains "index.md" %}
            {% unless item.path == section_path %}
              <li><a href="{{ item.url }}">{{ item.title }}</a><br/>{{ item.description }}</li>
            {% endunless %}
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}

  {% assign sections = "miscellaneous" | split: ", " %}
  {% for section in sections %}
    {% assign section_path = section | append: '/index.md' %}
    <h1>{{ section | capitalize }}</h1>
    <ul class="posts">
      {% for item in site.pages %}
        {% if item.url contains section/ %}
            {% unless item.path == section_path %}
              <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endunless %}
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}

  {% assign sections = "imposter-guide" | split: ", " %}
  {% for section in sections %}
    {% assign section_path = section | append: '/index.md' %}
    <h1>{{ section | capitalize }}</h1>
    <ul class="posts">
      {% for item in site.pages %}
        {% if item.url contains section/ %}
            {% unless item.path == section_path %}
              <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endunless %}
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}

</div>