<div id="beta">
    <div id="beta-inner">
 		<div class="widget-search widget">
            <div class="widget-content">
                <img src="/images/vinod.png" width="180">
            </div>
        </div>
        <div class="widget-search widget">
            <h3 class="widget-header">Contact Info</h3>
            <div class="widget-content">
                <b>Vinod Pandey</b><br>
                <i>Co-founder CTO - myCBSEguide.com</i><br><br>
                <img src="/images/email.png" data-pin-nopin="true"><br>
            </div>
        </div>
        <div class="widget-search widget">
            <h3 class="widget-header">Other places</h3>
            <div class="widget-content">
                <a href="https://github.com/vinodpandey"><img src="/images/github.png"></a>
                <a href="https://twitter.com/vinod_pandey"><img src="/images/twitter.png"></a>
            </div>
        </div>
        <div class="widget-search widget">
            <h3 class="widget-header">Resources</h3>
            <div class="widget-content">
                <ul>
                    <li><a href="/about-me/">About Me</a></li>
                    <li><a href="/disclaimer/">Disclaimer</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
